<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>

<body>
    <h1>Employees</h1>
    <hr>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Created At</th>
        </tr>

        <% employees.forEach((item) => { %>
        <tr>
            <td><%=item.id%></td>
            <td><%=item.name%></td>
            <td><%=item.createdAt%></td>
        </tr>
        <% }) %>
    </table>
</body>

</html>
