<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos</title>
</head>

<body>
    <h1>Employee</h1>
    <hr>

    <h2>Name : <%=employeeName%></h2>
    <h2>ID : <%=employeeId%></h2>
    <h2>Project: <%=projectName%></h2>
</body>

</html>
